<form #form='ngForm'>
  <input [(ngModel)]="dev.name" type="text" name="name">
  <input [(ngModel)]="dev.age" type="number" name="age">
  <input [(ngModel)]="dev.gender" type="radio" name="gender" value="MALE">
  <input [(ngModel)]="dev.gender" type="radio" name="gender" value="FEMALE">
  <input [(ngModel)]="dev.js" type="checkbox" name="js">
  <input [(ngModel)]="dev.java" type="checkbox" name="java">
  <input [(ngModel)]="dev.go" type="checkbox" name="go">
  <select [(ngModel)]="dev.status" name="status">
    <option value="">DEFAULT</option>
    <option value="JUN">JUN</option>
    <option value="MID">MID</option>
    <option value="SIN">SIN</option>
  </select>
  <button type="button" (click)="show()">Send</button>
</form>

<form #form2='ngForm'>
  <input ngModel
         placeholder="email"
         title="email"
         type="text"
         name="email"
         email
         required
         [ngStyle]="{border: emailRef.invalid && emailRef.dirty ? '1px solid red': ''}"
         #emailRef="ngModel"
  >
  <input ngModel
         placeholder="password"
         title="password"
         type="text"
         name="password"
         required
         minlength="5"
         [ngStyle]="{border: passwordRef.invalid && passwordRef.dirty ? '1px solid red': ''}"
         #passwordRef="ngModel"
  >
  <button type="button"
          [disabled] = "form2.invalid"
          (click)="show()">Send</button>
</form>
